@model List<JobApplicationsTracker>
@{
    ViewData["Title"] = "Job Applications";
}

<div class="container ml-n4">
    <div class="text-center mb-3">
        <a asp-action="Create" asp-controller="JobApplications" class="btn btn-primary">Add New Job Application</a>
    </div>

    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
	                <th><a asp-controller="JobApplications" asp-action="JobApplications" asp-route-sortOrder=@ViewData["CompanySortParam"]>Company</a></th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Date Applied</th>
                    <th><a asp-controller="JobApplications" asp-action="JobApplications" asp-route-sortOrder="@ViewData["ClosingDateSortParam"]">Closing Date</a></th>
                    <th>Application Platform</th>
                    <th>Job Specification</th>
                    <th>Application URL</th>
                    <th><a asp-controller="JobApplications" asp-action="JobApplications" asp-route-sortOrder="@ViewData["StatusSortParam"]">Status</a></th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var jobApplication in Model)
                    {
                        var rowClass = "";
                        if (jobApplication.Status == "Applied")
                        {
                            rowClass = "table-success";
                        }
                        else if (jobApplication.Status == "Interview")
                        {
                            rowClass = "table-warning";
                        }
                        else if (jobApplication.Status == "Rejected")
                        {
                            rowClass = "table-danger";
                        }
                        <tr class="@rowClass">
                            <td>@jobApplication.CompanyName</td>
                            <td>@jobApplication.Position</td>
                            <td>@jobApplication.Location</td>
                            <td>@jobApplication.DateApplied</td>
                            <td>@jobApplication.ClosingDate</td>
                            <td>@jobApplication.ApplicationPlatform</td>
                            <td>
                                @if (!string.IsNullOrEmpty(jobApplication.JobSpecification) && jobApplication.JobSpecification != "No file uploaded")
                                {
                                    <a asp-action="Download" asp-controller="JobApplications" asp-route-filePath="@jobApplication.JobSpecification">Download</a>
                                }
                                else
                                {
                                    <span>No file uploaded</span>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(jobApplication.ApplicationURL))
                                {
                                    <a href="@jobApplication.ApplicationURL" target="_blank">Link</a>
                                }
                                else
                                {
                                    <span>No URL</span>
                                }
                            </td>
                            <td>@jobApplication.Status</td>
                            <td>@jobApplication.Notes</td>
                            <td>
                                <form asp-action="Delete" asp-controller="JobApplications" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@jobApplication.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="JobApplications" asp-route-id="@jobApplication.Id" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">No job applications found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


